.result-table__container {
  margin: 0 auto;
  width: 640px;

  .city-title {
    font-size: 24px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .weather-content {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    cursor: pointer;
    .info-row {
      display: flex;
      flex-flow: row nowrap;
      width: auto;
      justify-content: space-between;
      height: auto;
      font-size: 18px;
      background-color: DodgerBlue;
      color: white;
      border-bottom: 1px solid lightcyan;
      border-radius: 5px;
      .row-title {
        padding: 5px 0 5px 10px;
        border-right: 1px solid lightcyan;
        background-color: rgba(27,82,103,0.52);
        width: 50%;
        box-sizing: border-box;
      }

      .row-value {
        width: 50%;
        padding: 5px 10px 5px 0;
        text-align: end;
      }
    }
    .info-row:hover {
      background-color: white;
      color: DodgerBlue;

      .row-title {
        //border-right: 1px solid DodgerBlue;
        color: black;
      }

      .row-value {
        border: 1px solid DodgerBlue;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
  }

  .aborted-load-city-info__error-container {
    margin: 0 auto;
    text-align: center;

    h3 {
      color: red;
    }
  }
}
